*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

@font-face {
    src: url('asset/bahnschrift.ttf');
    font-family: Bahn;
}

/* navigation bar styling */
nav{
    padding-left: 1%;
    z-index: 9999;
    width: 100%;
    background-color: rgba(200,13,13,1);
    position: fixed;
    top: 0;
    overflow: hidden;
    box-shadow: 0px 10px 0px rgba(153, 153, 153, 1);
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}


li{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1%;
    align-items: center;
    display: flex;
}

a{
    font-size: 2.5vw;
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navlogo{
    height: 4vw;
}

.paddingtop{
    padding-top: 58px;
}


/* floating button styling */
.floatingbutton{
    position: fixed;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: center;    
    bottom: 0;
    right: 0px;
    margin: 5%;
    width: 10%;
    height: 10%;
    z-index: 99;
}

#fabextender{
    transform: rotate(45deg);
}

.eachbutton{
    margin-top: 10%;
    max-width: 40%;
    min-width: 40px;
    filter: brightness(80%);
    transition: 0.5s;
}

.eachbutton:hover{
    transition: 0.5s;
    cursor: pointer;
    filter: brightness(100%);
    max-width: 50%;
    min-width: 50px;
}

.eachbutton:active{
    opacity: 2;
}

/* page belum digarap */
.defaultpage{
    width: 100%;
    height: 600px;
    background-color: blue;
    border-color: rgb(255, 230, 0);
    border-style: solid;
    border-width: 3px;
    color: white;
}


/* page 1 */
.landingpage{
    width: 100%;
    height: 600px;
    padding-top:2%;
    background:url('/asset/sakit.png'); 
    background-size: cover; 
    background-position: center;
    position: relative;
}

.landingtext{
    z-index: 1;
    padding-left: 1%;
    padding-top: 20%;
    color: #ffffff;
    font-size: 3vw;    
}

/* page 2 */


#bloodstock{
    top: 30%;
    position: absolute;
    width: 100%;
    height: 650px;
    padding-top: 6%;
    background-color: black;
    color: white;
    position: relative;
}

.logopmi{
    width: 10%;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.persediaandarah{
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    padding-top: 1vw;
}

.bloodstock{
    display: block;
}
.goldarA{
    top: 40%;
    font-size: 1.2vw;
    margin-left: 10%;
    position: absolute;
    text-align: center;
}
.goldarB{
    top: 40%;
    right: 10%;
    font-size: 1.2vw;
    text-align: center;
    position: absolute;
}

.goldarAB{
    font-size: 1.2vw;
    text-align: center;
    position: absolute;
    margin-left: 20%;
    top: 55%;
}

.goldarO{
    font-size: 1.2vw;
    text-align: center;
    position: absolute;
    right: 20%;
    top: 55%;
}

.bloodstock h1{
    margin-top: 20px;
    margin-bottom: 7px;
    font-size: 25px;
}

.bloodstock h2,h3{
    font-size: 30px;
    display: inline-block;
    position: relative;
}

.bloodstock h3{
    font-size: 17px;
}

.buttonformore{
    width: 100%;
    height: 5vw;
    position: absolute;
    display: flex;
    bottom: 10vw;
    margin: 0 auto;
    align-items: center;
}

#lessmore{
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: none;
    background-color: rgba( 0,0,0,0);
    background-color: rgba(207, 207, 207,0.05);
    margin: 0 auto;
    width: 15vw;
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
    height: 4vw;
}

#lessmore p{
    margin: 0 auto;
}

#lessmore:hover{
    transition: 0.5s;
    background-color: rgba(200,13,13,0.7);
}

/* page 3 */
#donationprocedure{
    padding-top: 80px;
    width: 100%;
    height: 750px;
    background-color: white;
}

.donationprocedure{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#donationprocedure h1{
    padding-left: 4%;
    color: rgba(200,13,13,1);
    font-stretch: ultra-condensed;
    font-weight: bolder;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 4vw;

}

#donationprocedure img{
    padding-left: 6%;
    width: 45%;
    position: absolute;
}

#slideshow-container{
    width: 25%;
    height: 32vw;
    margin-right: 10%;
    margin-bottom: 5vw;
    box-shadow: 10px 10px rgba(153, 153, 153, 0.5);
    float: right;
    position: relative;
    background-color: rgba(200,13,13,1);
    border-radius: 5%;
}

.content{

}
/* Slides */
.mySlides {
    z-index: 99;
    color: white;
    display: none;
    padding: 7%;
    transition: 1s;
  }

  .slidetitle{
      font-size: 1.5vw;
      font-weight: bold;

      height: 0.7vw;
      padding-bottom: 15%;
  }

  .slidecontent{
      font-size: 1.3vw;
  }
  
  .slidebutton{
        width: 100%;
        height: 25%;
        position: absolute;
        display: flex;
        bottom: 0;
        margin: 0 auto;
        align-items: center;
    }
    
    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        width: auto;
        padding: 16px;
        color: #888;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
        position: absolute;
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        color: white;
      }
    

  .dot-container {
    width: 40%;
    display: flex;
    margin: 0 auto;
    padding: 0.1vw;
    background-color: rgba(0,0,0,0.3);
    border-radius: 1vw;
  }
  
  /* The dots/bullets/indicators */
  .dot {

    margin: 2px auto;
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    background-color: #888;
    border-radius: 1vw;
    display: inline-block;
    transition: 0.3s;
  }
  
  /* Add a background color to the active dot/circle */
  .active {
    background-color: white;
    border-radius: 1vw ;
}

.dot:hover {
    background-color: white;
    width: 1.5vw;
    
  }
  

#quotes{
    position: relative;
    z-index: 1;
    margin: 0 auto;
    bottom: 0;
    width: 85%;
    height: 10vw;
    border-radius: 15px;
    box-shadow: 5px 5px 0px rgba(153, 153, 153, 0.5);
    background-color: rgba(200,13,13,1);
    align-items: center;
    align-content: center;
    display: flex;
}

#quotes p{
    text-align: center;
    color: white;
    font-size: 3vw;
    font-weight: bold;
    margin: auto;
}

/* page 4 */

#donationschedule{
    padding-top: 6%;
    padding-bottom: 4vw;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}

#dstitle{
    color: rgba(200,13,13,1);
    font-size: 4vw;
    text-align: center;
    text-shadow: 5px 5px 0px rgba(0,0,0,0.3);
    margin-bottom: 3%;
}

#maintenance{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(53, 53, 53, 0.637);
    z-index: 2;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 5px black;
    display: flex;
    align-items: center;
}
.kalimatcontainer{
    width: 100%;
    height: 15vw;
    display: flex;
    position: absolute;
    top: 20%;
    align-items: center;
}
#kalimat{
    font-size: 5vw;
    font-family: monospace;
    color: white;
    margin: 0 auto;
    text-align: center;
}


.buttoncontainer{
    bottom: 30%;
    position: absolute;
    width: 100%;
    height: 10vw;
    display: flex;
    align-items: center;
}
.keepliat{
    width: 20%;
    height: 5vw;
    background-color: rgba(200,13,13,1);
    border-radius: 1vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.keepliat p {
    font-size: 2vw;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    text-transform: uppercase;
}

.jadwal-container{
    margin: 0 auto;
    width: 70vw;
    position: relative;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}


.tbcontent{
    margin: 1% auto;
    background-color: #faf8f8;
    height: 150px;
    width: 350px;
    display: flex;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 0px rgba(153, 153, 153, 0.7);
}

#title{
    background-color: rgba(200,13,13,1);
    height: 30px;
    width: 100%;
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;

}

#title p{
    font-size: 20px;
    color: white;
    margin: auto;
    position: relative;
    font-weight: bold;
    font-stretch: ultra-condensed;
    text-transform: capitalize;
}

#img{
    width: 106px;
    height: 106px;
    display: flex;
    position: absolute;
    margin-top: 37px;
    margin-bottom: 7px;
    margin-left: 10px;
    border-radius: 18px;
    background: url('/asset/default-img.png');
    background-size: cover;
    background-position: center; 
    box-shadow: 0px 1px 3px black;
}
#description{
    width: 220px;
    height: 35px;
    display: flex;
    position: absolute;
    margin-left: 125px;
    top: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.location, .jadwal{
    width: 60%;
    height: 20%;
    display: flex;
    position: absolute;
    margin-left: 35%;
    top: 55%;
    align-items: center;
}

.jadwal{
    top: 75%;
}

.jadwalicon{
    width: 2vw;
    height: 2vw;
    background: url("/asset/Group\ 20.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.locationicon{
    width: 2vw;
    height: 2vw;
    background: url("/asset/Path\ 2008.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.garis{
    width: 0.15vw;
    height: 2vw;
    margin-left: 0.2vw;
    background-color: #8E8E8E;
}

.tempat, .tanggal{
    font-weight: bold;
    margin-left: 0.5vw;
    font-size: 0.9vw;
    width: 100%;
    height: 100%;
    color: black;
}

.buttondiv{
    width: 100%;
    height: 5vw;
    bottom: 5vw;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

#moreschedule{
    width: 15vw;
    height: 4vw;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    background-color: rgba(200,13,13,1);
    border-radius: 1vw;
    color: white;
    font-weight: bold;
    font-size: 1.2vw;
    transition: 0.5s;
    text-align: center;
    text-transform: capitalize;
}

#moreschedule:hover{
    background-color: rgb(105, 0, 0);
}

#moreschedule p{
    margin: 0 auto;
}

/* page 5 */
#contactus{
    width: 100%;
    height: 580px;
    position: relative;
    background:url('/asset/bgContact.png');
    background-size: cover; 
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
}


.cpoverlay{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
}
.form-container{
    color: white;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    z-index: 1;
    overflow: hidden;
}

.formtitle{
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 5px;
}

.formtitle h1{
    font-size: 40px;
    margin: 0 auto;
}

.form-container p{
    padding-left: 10px;
}

.email, .nama, .pesan{
    width: 100%;
    height: 30px;
    padding: 0;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
}

.pesan{
    height: 195px;
    padding: 5px;
}

.email:focus , .nama:focus, .pesan:focus{
    background-color: rgb(230, 230, 230);
}
/* 
.buttonplacer{
    width: 100%;
    align-items: center;
    display: flex;
} */

.form-container button{
    width: 100%;
    background-color: rgba(200,13,13,1);
    padding: 0;
    border: none;
    color: white;
    font-size: 15px;
    height: 40px;
    margin: 0 auto;
    cursor: pointer;
}

.form-container button:active{
    background-color: rgb(161, 2, 2);
}

.sosmedcontainer{
    position: absolute;
    margin: 0 auto;
    height: fit-content;
    width: 400px;
    bottom: 0;
    display: flex;
    align-items: center;
}

.instagram{
    margin: 0 auto;
    display: flex;
    width: 200px;
    height: 5vw;
    align-items: center;
}

.twitter{
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 200px;
    height: 5vw;

}

.iglogo, .twlogo{
    margin-left: 10px;
    position: absolute;
    height: 40px;
    width: 40px;
    background: url("/asset/instagram\ \(1\).png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}


.twlogo{
    background: url("/asset/twitter.png");
    background-size: cover;
    background-position: center;
}

.sosmedcontainer a{
    margin-left: 60px;
    font-size: 15px;
    font-family: monospace;
    color: lightblue;
}

#btnCekDarah {
    margin-top: 14%;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 4px 30px;
    background-color: #C80D0D;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
 }
 
 #btnCekDarah:hover {
    background: #ffffff;
    text-decoration: none;
    color: #000000;
 }

.btnHolder{
    text-align: center;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    transition: 0.5s;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.btnPersediaan{
    border: none;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 4px 15px;
    background-color: #C80D0D;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.modalForm{
    text-align: center;
}

.flexBox{
    margin-top: 2%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-between;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    color: #000000;
    text-align: center;
    margin: 0 1%;
}
.card .container h1{
    font-size: 6vw;
}
   
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
    
.container {
    padding: 2px 16px;
}