*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

@font-face {
    src: url('asset/bahnschrift.ttf');
    font-family: Bahn;
}

/* navigation bar styling */
nav{
    padding-left: 1%;
    z-index: 9999;
    width: 100%;
    background-color: rgba(200,13,13,1);
    position: fixed;
    top: 0;
    overflow: hidden;
    box-shadow: 0px 10px 0px rgba(153, 153, 153, 1);
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}


li{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1%;
    align-items: center;
    display: flex;
}

a{
    font-size: 2.5vw;
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navlogo{
    height: 4vw;
}

.paddingtop{
    padding-top: 58px;
}


/* floating button styling */
.floatingbutton{
    position: fixed;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: center;    
    bottom: 0;
    right: 0px;
    margin: 5%;
    width: 10%;
    height: 10%;
    z-index: 99;
}

.eachbutton{
    margin-top: 10%;
    max-width: 40%;
    min-width: 40px;
    /* opacity: 0.8; */
    filter: brightness(80%);
    transition: 0.5s;
}

.eachbutton:hover{
    transition: 0.5s;
    cursor: pointer;
    /* opacity: 1; */
    filter: brightness(100%);
    max-width: 50%;
    min-width: 50px;
}

.eachbutton:active{
    opacity: 2;
}

/* page belum digarap */
.defaultpage{
    width: 100%;
    height: 600px;
    background-color: blue;
    border-color: rgb(255, 230, 0);
    border-style: solid;
    border-width: 3px;
    color: white;
}


/* page 1 */
.landingpage{
    width: 100%;
    height: 600px;
    padding-top:2%;
    background:url('/asset/sakit.png'); 
    background-size: cover; 
    background-position: center;
    position: relative;
}

.landingtext{
    padding-left: 1%;
    padding-top: 20%;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;    
}

/* page 2 */


#bloodstock{
    top: 30%;
    position: absolute;
    width: 100%;
    height: 650px;
    padding-top: 6%;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex; */
    position: relative;
}

.logopmi{
    width: 10%;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.persediaandarah{
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    padding-top: 1vw;
    /* margin-bottom: ; */
}

.bloodstock{
    display: block;
}
.goldarA{
    top: 40%;
    font-size: 1.2vw;
    margin-left: 10%;
    position: absolute;
    text-align: center;
}
.goldarB{
    top: 40%;
    right: 10%;
    font-size: 1.2vw;
    text-align: center;
    position: absolute;
}

.goldarAB{
    font-size: 1.2vw;
    text-align: center;
    position: absolute;
    margin-left: 20%;
    top: 55%;
}

.goldarO{
    font-size: 1.2vw;
    text-align: center;
    position: absolute;
    right: 20%;
    top: 55%;
}

.bloodstock h1{
    margin-top: 20px;
    margin-bottom: 7px;
    font-size: 25px;
}

.bloodstock h2,h3{
    font-size: 30px;
    display: inline-block;
    position: relative;
}

.bloodstock h3{
    font-size: 17px;
}

.buttonformore{
    width: 100%;
    height: 5vw;
    /* background-color: red; */
    position: absolute;
    display: flex;
    bottom: 10vw;
    margin: 0 auto;
    /* text-align: center; */
    align-items: center;
}

#lessmore{
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* border: 1px solid rgb(190, 190, 190); */
    border: none;
    background-color: rgba( 0,0,0,0);
    background-color: rgba(207, 207, 207,0.05);
    margin: 0 auto;
    width: 15vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    height: 4vw;
    /* transition: 0.5s; */
}

#lessmore p{
    margin: 0 auto;
}

#lessmore:hover{
    transition: 0.5s;
    background-color: rgba(200,13,13,0.7);
}

/* page 3 */
#donationprocedure{
    padding-top: 80px;
    width: 100%;
    height: 750px;
    background-color: white;
    /* border: 2px solid grey; */
}

.donationprocedure{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: rgb(161, 2, 2); */
}

#donationprocedure h1{
    padding-left: 4%;
    color: rgba(200,13,13,1);
    font-stretch: ultra-condensed;
    font-weight: bolder;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;

}

#donationprocedure img{
    padding-left: 6%;
    width: 45%;
    position: absolute;
}

#slideshow-container{
    width: 25%;
    height: 32vw;
    margin-right: 10%;
    margin-bottom: 5vw;
    box-shadow: 10px 10px rgba(153, 153, 153, 0.5);
    float: right;
    position: relative;
    background-color: rgba(200,13,13,1);
    border-radius: 5%;
}



/* Slides */
.mySlides {
    font-family: Arial, Helvetica, sans-serif;
    z-index: 99;
    color: white;
    display: none;
    padding: 7%;
    /* transition: 1s; */
    /* padding: 80px; */
    /* text-align: center; */
  }

  .slidetitle{
      font-size: 1.5vw;
      font-weight: bold;
      /* display: flex;
      margin-top: 10px;
      align-items: center; */

      height: 0.7vw;
      padding-bottom: 15%;
      /* margin-bottom: 7%; */
  }

  .slidecontent{
      font-size: 1.3vw;
  }
  
  .slidebutton{
        /* background-color: violet; */
        width: 100%;
        height: 25%;
        position: absolute;
        display: flex;
        bottom: 0;
        margin: 0 auto;
        align-items: center;
    }
    
    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        /* bottom: 5%; */
        width: auto;
        /* margin-top: -30px; */
        padding: 16px;
        color: #888;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
        position: absolute;
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        color: white;
      }
    

  .dot-container {
    width: 40%;
    display: flex;
    margin: 0 auto;
    padding: 0.1vw;
    background-color: rgba(0,0,0,0.3);
    border-radius: 1vw;
  }
  
  /* The dots/bullets/indicators */
  .dot {

    margin: 2px auto;
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    background-color: #888;
    border-radius: 1vw;
    display: inline-block;
    /* transition: background-color 0.6s ease; */
    transition: 0.3s;
  }
  
  /* Add a background color to the active dot/circle */
  .active {
    background-color: white;
    border-radius: 1vw ;
}

.dot:hover {
    background-color: white;
    width: 1.5vw;
    
  }
  

#quotesjelek{
    position: relative;
    z-index: 1;
    margin: 0 auto;
    bottom: 0;
    /* margin-top: 42vw; */
    width: 85%;
    height: 10vw;
    border-radius: 15px;
    box-shadow: 5px 5px 0px rgba(153, 153, 153, 0.5);
    background-color: rgba(200,13,13,1);
    align-items: center;
    align-content: center;
    display: flex;
}

#quotesjelek p{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    font-weight: bold;
    margin: auto;
}

/* page 4 */

#donationschedule{
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */
    position: relative;
    height: fit-content;
    width: 100%;
    padding-top: 6%; ;
    background-color: white;
    /* border: 2px solid black; */
}

#dstitle{
    color: rgba(200,13,13,1);
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 5px 5px 0px rgba(0,0,0,0.3);
    /* margin-top: 27%; */
    margin-bottom: 3%;
}

#maintenance{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(53, 53, 53, 0.637);
    z-index: 2;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 5px black;
    display: flex;
    align-items: center;
}
.kalimatcontainer{
    width: 100%;
    height: 15vw;
    display: flex;
    position: absolute;
    top: 20%;
    align-items: center;
    /* background-color: royalblue; */
}
#kalimat{
    font-size: 5vw;
    font-family: monospace;
    color: white;
    /* top: 30%; */
    /* position: absolute; */
    margin: 0 auto;
    text-align: center;
}


.buttoncontainer{
    bottom: 30%;
    position: absolute;
    /* left: 0; */
    width: 100%;
    height: 10vw;
    /* background-color: rgb(255, 230, 0); */
    display: flex;
    align-items: center;
}
.keepliat{
    /* left: 50%; */
    width: 20%;
    height: 5vw;
    background-color: rgba(200,13,13,1);
    border-radius: 1vw;
    /* position: absolute; */
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.keepliat p {
    font-size: 2vw;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.jadwal-container{
    margin: 0 auto;
    width: 70vw;
    height: fit-content;
    /* padding: ; */
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}


.tbcontent{
    margin: 1% auto;
    background-color: #faf8f8;
    height: 150px;
    width: 350px;
    display: flex;
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 5px 5px 0px rgba(153, 153, 153, 0.7);
}

#title{
    background-color: rgba(200,13,13,1);
    height: 30px;
    width: 100%;
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;

}

#title p{
    font-size: 20px;
    color: white;
    margin: auto;
    position: relative;
    font-weight: bold;
    font-stretch: ultra-condensed;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

#img{
    width: 106px;
    height: 106px;
    display: flex;
    position: absolute;
    margin-top: 37px;
    margin-bottom: 7px;
    margin-left: 10px;
    border-radius: 18px;
    background: url('/asset/bgContact.png');
    background-size: cover;
    background-position: center; 
}
#description{
    width: 60%;
    height: 25%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: absolute;
    margin-left: 35%;
    top: 25%;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
}

.location, .jadwal{
    /* background-color:  red; */
    width: 60%;
    height: 20%;
    display: flex;
    position: absolute;
    margin-left: 35%;
    top: 55%;
    align-items: center;
}

.jadwal{
    top: 75%;
    /* background-color: black; */
}

.jadwalicon{
    width: 2vw;
    height: 2vw;
    background: url("/asset/Group\ 20.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.locationicon{
    width: 2vw;
    height: 2vw;
    background: url("/asset/Path\ 2008.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.garis{
    width: 0.15vw;
    height: 2vw;
    margin-left: 0.2vw;
    background-color: #8E8E8E;
}

.tempat, .tanggal{
    font-weight: bold;
    margin-left: 0.5vw;
    font-size: 0.9vw;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.buttondiv{
    width: 100%;
    height: 5vw;
    bottom: 5vw;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

#moreschedule{
    margin: 0 auto;
    display: flex;
    /* position: absolute; */
    /* bottom: 0; */
    align-items: center;
    /* border: 1px solid rgb(190, 190, 190); */
    border: none;
    width: 15vw;
    height: 4vw;
    background-color: rgba(200,13,13,1);
    border-radius: 1vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    transition: 0.5s;
}

#moreschedule:hover{
    background-color: rgb(105, 0, 0);
}

#moreschedule p{
    margin: 0 auto;
}

/* page 5 */
#contactus{
    width: 100%;
    height: 600px;
    position: relative;
    background:url('/asset/bgContact.png');
    background-size: cover; 
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
}


.cpoverlay{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    /* align-items: center;; */
}
.form-container{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    height: fit-content;
    /* background-color: yellow; */
    margin: 0 auto;
    z-index: 1;
    overflow: hidden;
}

.formtitle{
    /* background-color: blue; */
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 5px;
}

.formtitle h1{
    font-size: 3vw;
    margin: 0 auto;
}

.form-container p{
    padding-left: 10px;
}

.email, .nama, .pesan{
    width: 100%;
    height: 2vw;
    padding: 0;
    border-radius: 0.3vw;
    padding-left: 0.5vw;
    margin-bottom: 0.5vw;
}

.pesan{
    height: 13vw;
    padding: 0.5vw;
}

.email:focus , .nama:focus, .pesan:focus{
    background-color: rgb(230, 230, 230);
}

.buttonplacer{
    width: 100%;
    align-items: center;
    display: flex;
}
.form-container button{
    width: 100%;
    background-color: rgba(200,13,13,1);
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1vw;
    height: 3vw;
    margin: 0 auto;
    cursor: pointer;
}

.form-container button:active{
    background-color: rgb(161, 2, 2);
}

.sosmedcontainer{
    /* background-color: red; */
    position: absolute;
    margin: 0 auto;
    height: 13%;
    width: 30%;
    /* left: 50%; */
    bottom: 0;
    display: flex;
    align-items: center;
}

.instagram{
    margin: 0 auto;
    display: flex;
    width: 50%;
    height: 5vw;
    /* left: 50%; */
    /* position: absolute; */
    /* background-color: royalblue; */
    align-items: center;
}

.twitter{
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* position: relative; */
    width: 50%;
    height: 5vw;
    /* right: 50%; */
    /* position: absolute; */
    /* background-color: seagreen; */

}

.iglogo, .twlogo{
    margin-left: 10px;
    position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    background: url("/asset/instagram\ \(1\).png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}


.twlogo{
    background: url("/asset/twitter.png");
}

.sosmedcontainer a{
    margin-left: 60px;
    font-size: 1vw;
    font-family: monospace;
    color: lightblue;
}