*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

@font-face {
    src: url('asset/bahnschrift.ttf');
    font-family: Bahn;
}

/* navigation bar styling */
nav{
    padding-left: 1%;
    z-index: 9999;
    width: 100%;
    background-color: rgba(200,13,13,1);
    position: fixed;
    top: 0;
    overflow: hidden;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}


li{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1%;
    align-items: center;
    display: flex;
}

a{
    font-size: 2.5vw;
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navlogo{
    height: 4vw;
}

.paddingtop{
    padding-top: 58px;
}


/* floating button styling */
.floatingbutton{
    position: fixed;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: center;    
    bottom: 0;
    right: 0;
    margin: 50px;
    width: 10%;
    height: 10%;
    z-index: 9999;
}

.eachbutton{
    margin-top: 10%;
    max-width: 40%;
    min-width: 40px;
}

/* page belum digarap */
.defaultpage{
    width: 100%;
    height: 650px;
    background-color: blue;
    border-color: rgb(255, 230, 0);
    border-style: solid;
    border-width: 3px;
    color: white;
}


/* page 1 */
.landingpage{
    width: 100%;
    height: 600px;
    padding-top:2%;
    background:url('/asset/sakit.png'); 
    background-size: cover; 
    background-position: center;
    position: relative;
}

.landingtext{
    padding-left: 1%;
    padding-top: 20%;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;    
}

    z-index: 999;
/* page 2 */
.bloodstock{
    width: 100%;
    height: 650px;
    padding-top: 6%;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.logopmi{
    width: 10%;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.persediaandarah{
    text-align: center;
    font-size: 3vw;
    padding-top: 10px;
    margin-bottom: 25px;
}

.kiri{
    font-size: 1.2vw;
    left: 5%;
    position: absolute;
}

.kanan{
    font-size: 1.2vw;
    right: 5%;
    position: absolute;
}

.kanan .goldarB h1{
    display: flex;
}

/* page 3 */
#donationprocedure{
    padding-top: 80px;
    width: 100%;
    height: 850px;
    background-color: white;
}

.donationprocedure{
}

#donationprocedure h1{
    padding-left: 4%;
    color: rgba(200,13,13,1);
    font-stretch: ultra-condensed;
    font-weight: bolder;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;

}

#donationprocedure img{
    padding-left: 6%;
    width: 45%;
    position: absolute;
}

#slider{
    width: 25%;
    height: 32vw;
    margin-right: 10%;
    box-shadow: 10px 10px 0px rgba(153, 153, 153, 0.5);
    float: right;
    position: relative;
    background-color: rgba(200,13,13,1);
    border-radius: 25px;
}

#quotesjelek{
    position: relative;
    margin: 0 auto;
    margin-top: 42vw;
    align-content: center;
    width: 85%;
    height: 10vw;
    border-radius: 15px;
    box-shadow: 5px 5px 0px rgba(153, 153, 153, 0.5);
    background-color: rgba(200,13,13,1);
    align-items: center;
    align-content: center;
    display: flex;
}

#quotesjelek p{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    font-weight: bold;
    margin: auto;
}

/* page 5 */
#contactus{
    width: 100%;
    float: left;
    height: 620px;
    position: relative;
    background:url('/asset/bgContact.png');
    background-size: cover; 
    background-position: center;
}

.contactus{
    width: 100%;
    height: 100%;
    padding-top:2%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
}

.formdiv{
    /* transform: translateY(40%); */
    /* vertical-align: middle; */
    padding-bottom: 50px;
    height: auto;
    padding: 20px;
    float: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.contak{
    /* text-align: left; */
}

#bag1{
    width: 30%; 
    height: 30px;
    border-color: aqua;
    border-width: 0.5px;
    padding: 0.5%;
    /* padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%; */
}

#bag2{
    width: 30%;
    height: 150px;
}